
.container {
  margin:0px auto;
  background-color: #e0f7fa;
  padding: 15px;
  max-width:950vh ;
}

.top_nav{
  background-color: green;
  height: 150px;
  margin-bottom:10px;
}


.side_nav {
  background-color: #5c6bc0;
  width: 200px;
  height:300px;
  min-height: 250px;
  flex: 1;
}

.main {
  flex: 3;
  background-color: #ab47bc;
  padding: 15px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 15px;
}

.sub_content {
  flex: 1;
  background-color: #fbc02d;
  height: 200px;
  width:210px ;
}


.advertisement {
  background-color: #f44336;
  height: 120px;
  width: 100%;
}

.bottom_content{
  display: flex;
  padding-bottom: 30px;
  flex-wrap: wrap;
  gap: 15px;
}