
 *{
  margin: 0;
  padding: 0;
 }

 .container {
  margin:10px 200px 10px;
  height:550px;
  background-color: #e0f7fa;
  padding: 15px;
}

.top_nav {
  background-color: green;
  height:90px;
  margin: 12px 10px ;
  padding: 10px;
}

.side_nav {
  background-color: #5c6bc0;
  margin: 12px 10px;
  height: 300px;
  width: 200px;
  display:inline-block;
}

.main {
  background-color: #ab47bc;
  width: 650px;
  height:400px;
  margin: 12px 10px;
  display: inline-block;
  vertical-align: top;
}

.sub_content{
  background-color: #fbc02d;
  height: 200px;
  width:193px ;
  display:inline-block;
  margin:15px 10px ;
}

.advertisement {
  background-color: #f44336;
  height: 60px;
  width:600px;
 margin-left:15px ;
  padding: 20px 10px ;
}